.parrafo::first-letter {
    font-size: 4em;
    color: red;
}

.fino::first-line {
    color: blue;
    font-size: 0.3em;
    
}


h1 {
    position: relative;
}

h1:hover {
    cursor: pointer;
    
}

h1:hover::after {
    position: absolute;
    bottom: -50px;
    left: 0;
    content:'UWU SIGNIFICA ALGO';
    font-size: 0.1em;
    background-color: pink;
    color: white;
    width: 70px;
    height: 30px;
    border: 0.4px solid #2a2a2a;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
/* h1:hover::after{
    content: "😍";
    color: red;
}


h1:hover::before{
    content: "😂";
    color: red;
} */